.container{
    height: 100vh;
    width: 100%;
    position: absolute;
    top:65vh;
    left: 2.6%;
    right: 2.6%;
    width: 100%;
    
    .masonry-container{
      width: 100%;
      position: absolute;
      top: 0vh;
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
      grid-template-rows: masonry;
    }
    .buttonGroup{
      position: fixed;
      right: 2%;
      bottom: 12%;
      .buttonBox1{
        margin-bottom: 8px;
      }
    }
  }