
    .masonry-container{
      width: 80%;
      position: absolute;
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(6, minmax(278px, 1fr));
      grid-template-rows: masonry;
      justify-content: center;
      margin: 0 50px;
    }
    
    .buttonGroup{
      position: fixed;
      right: 2%;
      bottom: 12%;
      .buttonBox1{
        margin-bottom: 8px;
      }
    }