
    .masonry-container{
      width: 96vw;
      margin: 0;
      padding: 0;
      position: absolute;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
      columns: 6;
      column-gap: 10px;
      left: 50%;
      transform: translate(-50%);
      grid-row-end: 10px;
      justify-content: center;
    }
    
    .buttonGroup{
      position: fixed;
      right: 2%;
      bottom: 12%;
      margin: 79px 0 0 30px;
      .buttonBox1{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin-bottom: 22px;
        & button{
          border-radius: 50px;
       
        padding: 20px;
        border: solid 2px rgba(255, 255, 255, 0.3);
        background-color: #000
      }
    }

      .buttonBox2{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        & button{
          border-radius: 50px;
        margin: 0 0 22px;
        padding: 20px;
        border: solid 2px rgba(255, 255, 255, 0.3);
        background-color: #000;
        color: #f9cf00;
        font-size: 22px;
        font-family: NotoSans;
        text-align: center;
        }
      }
  }