.pinAll-container {
    width: 100%;
    position: absolute;
    display: flex;
    top: 313px;
    flex-direction: column;
    align-items: center;
 
    .tags-container{
      margin: 0 0 44px 0;
      position: relative;
     flex-wrap: wrap;
     display: flex;
     
        span{
          height: 56px;
          flex-grow: 0;
          margin: 0 20px 0 0;
          padding: 18px 17.4px 17px 17.4px;
          border-radius: 50px;
          border: solid 2px #f24860;
          font-size: 21px;
          cursor: pointer;
          background-color: #fff;
        }
    }

    .box-container{
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 416px);
      grid-template-rows: 345px;
      grid-gap: 28px;
      grid-auto-flow:column; 
      
      .left-btn-arrow{
        position: absolute;
        left: -40px;
        top: 40%;
        z-Index: 1;
       
        button{
          color: #f24860;
          width: 80.5px;
          height: 80.5px;
          padding: 0 7px 0 0;
          border: solid 8px #f24860;
          border-radius: 50px;
          background-color: rgba(0, 0, 0, 0.8);
          text-align: center;
          
        }
      }

      .right-btn-arrow{
        position: absolute;
        right: -40px;
        top: 40%;
        z-Index: 1;
       
        button{
          color: #f24860;
          width: 80.5px;
          height: 80.5px;
          padding: 0 0 0 7px;
          border: solid 8px #f24860;
          border-radius: 50px;
          background-color: rgba(0, 0, 0, 0.8);
       
        }
      }

      .img-container{
        width: 416px;
        height: 345px;
        padding: 0;
        display: flex;
        justify-content: center;
        border-radius: 25px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border: solid 2px #bc32ea;
        background-color: #c4c4c4;
        position: relative;
      overflow: hidden;
        img{
           width: 100%;
           height: 100%;
          background-color:#c4c4c4;;
          border-radius: 25px;
        }

        .bottomScreen-container{
          width: 100%;
          height: 126px;
          padding: 23px 24px 25px;
          border-radius: 0 0 25px 25px;
          -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
          border: solid 2px #bc32ea;
          background-color: rgba(17, 17, 17, 0.8);
          position: absolute;
          bottom: 0%;
          display: flex;
          justify-content: space-between;

          .description-box{
            margin: 0;
            ul{
              list-style: none;
              li:first-child{
                color: #f9cf00;;
              }
              li:nth-child(2){
                font-size: 1.2rem
              }
              li{
                color: #fff;
                padding: 2px 0px;
              }
            }
          }

          .follow-box{
            border-radius: 50px;
            position: relative;
            
            button{
              border-radius: 50px;
              border: 0;
              width: 90px;
              height: 40px;
              margin: 12px 0 7px 27px;
              padding: 7px 19px 8px 18px;
              background-color: #bc32ea;
              color: #fff;
            }
          }
        }

      }
   }
}

