.file-upload-container{
  width: 40%;
  background-color: #c4c4c4;
  position: relative;
  border-radius: 30px 30px 30px 30px;
  height: 560px;
  max-width: 551px;
  .fileImages-container{
    position: absolute;
    display: flex;
    bottom: -20%;
    width: 100%;
   left: 0%;
    .imageAdd-container{
        width: 100%;
        height: 80px;
        background-color: #c4c4c4;
       display: flex;
       max-height: 600px;
        .imageAdd-btn{
           width: 60px;
           height: 100%;
           display: flex; 
           max-height: 600px;
           justify-content: center;
           align-items: center;
           cursor: pointer;
       
        }
        .data-container{
          margin-left: 7px;
          width: 60px;
          height: 80px;
          background-color: #c4c4c4;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
      }
    }
   
}
     .file-img-container{
       height: 100%;
       width:100%;
       position:absolute;
       top: 0;
       background-color: #fff;
       left: 0;
       border-radius: 30px 30px 30px 30px;
       img{
          margin: 0 auto;
          width: 100%;
           max-width: 380px;
           border-radius: 30px 30px 30px 30px;
           height: auto;
       }
   
   }
   
  #file{
       cursor: pointer;
       height: 100%;
       opacity: 0;
       position:relative;
       left: 0px;
       top: 0px;
       width: 100%;
       left:0;
       font-size: 0px;
  }
  .drag-text{
      position: absolute;
       top: 40%;
       width: 100%;
       text-align: center;
       font-size: 1.2rem;
       
       p{
           margin-top: 20px;
       }
  }
}