$background-color: #f5f6fa;

.navbarContainer{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 163px;
  background-color: #000;
  z-index: 2;
    .popup{
      position:absolute;
      left: 63.3%;
      width: 22.7vh;
      background-color: #fff;
    }

    nav{
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;

        .navLink_container{
          list-style: none;
          display: flex;
          color: #fff;
          top: 85px;
          position: relative;
          font-size: 24px;
          margin-left: 70px;
          padding: 0;
       
          .document-container{
            margin-right: 52px;
            font-family: SUIT;
          }
          .socialing-container{
            font-family: SUIT;
          }
        }

        .logo-container{
          max-width: 325px;
          height: 108px;

          img{
            position:relative;
            cursor: pointer;
            width: 100%;
            top: 30%;
            height: 100%;
          }
          
          // .mention-box-container{
          //   background-color: white;
          //   color: white;
          //   position: relative;
          //   top: 550%;
          // }
        }

        .buttonGroup-box{
          position: relative;
          margin-right: 70px;
          top: 73px;
        }
      
  }
}
