$background-color: #f5f6fa;


.navbarContainer{
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_container {
  display: flex;
  nav {
    height: 50px;
    width: 100%;
    background-color: $background-color;
    position: relative;
    display: flex;

    .nav-header {
      display: inline;
      .nav-title {
        display: inline-block;
        font-size: 22px;
        padding: 10px 10px 10px 20px;
        margin: auto 50%;
      }
    }

    /*nav-links*/
    .nav-links {
      margin: auto 10%;
      & .span {
        font-size: 0.9rem;
        margin: auto 10px;
      }
    }
  }
}

header{
  height: 100px;
}
.navLink_container{
  display: flex;
  position:relative;
  left: 60%;
}
