$background-color: #f5f6fa;

.navbarContainer{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 11vh;
  background-color: #000;
    .popup{
      position:absolute;
      left: 63.3%;
      width: 22.7vh;
      background-color: #fff;
    }

    nav{
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;

        .navLink_container{
          list-style: none;
          display: flex;
          color: #fff;
          top: 5vh;
          position: relative;
          .document-container{
            margin-right: 50px;
          }
        }

        .logo-container{
          max-width: 325px;
          height: 65.3%;

          img{
            position:relative;
            cursor: pointer;
            width: 100%;
            top: 30%;
            height: 100%;
          }
          
          // .mention-box-container{
          //   background-color: white;
          //   color: white;
          //   position: relative;
          //   top: 550%;
          // }
        }

        .buttonGroup-box{
          position: relative;
          margin-right: 1.2%;
          top: 3.5vh;
        }
      
  }
}
