.file-upload-container{
  width: 40%;
  background-color: rgba(209, 204, 204, 0.3);
  position: relative;
  border-radius: 30px 30px 30px 30px;
  height: 80%;
     .file-img-container{
       height: 100%;
       width:100%;
       position:absolute;
       top: 0;
       background-color: #fff;
       left: 0;
       border-radius: 30px 30px 30px 30px;
         
       img{
           max-width: 100%;
           border-radius: 30px 30px 30px 30px;
           height: auto;
       }
   
   }
   
  #file{
       cursor: pointer;
       height: 100%;
       opacity: 0;
       position:relative;
       left: 0px;
       top: 0px;
       width: 100%;
       left:0;
       font-size: 0px;
  }
  .drag-text{
      position: absolute;
       top: 40%;
       width: 100%;
       text-align: center;
       font-size: 1.2rem;
       
       p{
           margin-top: 20px;
       }
  }
}