.file-upload-container{
  width: 40%;
  background-color: rgba(209, 204, 204, 0.3);
  position: relative;
  border-radius: 30px 30px 30px 30px;
  height: 80%;
     
  .drag-text{
      position: absolute;
       top: 40%;
       width: 100%;
       text-align: center;
       font-size: 1.2rem;
       
       p{
           margin-top: 20px;
       }
  }
}